In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('boston_housing.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     452 non-null    float64
dtypes: float64(13), int64(1)
memory usage: 55.5 KB

In [ ]:
missing_data = data['MEDV'].mean()

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(13), int64(1)
memory usage: 55.5 KB

In [ ]:
X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2,random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=150, random_state=0)
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=150, random_state=0)

In [ ]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred), 1), y_test.reshape(len(y_test), 1)), 1))

[[24.06 22.6 ]
 [23.36 50.  ]
 [22.3  23.  ]
 [23.75 23.75]
 [20.9  21.2 ]
 [20.54 19.9 ]
 [21.25 20.6 ]
 [20.06 18.7 ]
 [20.17 16.1 ]
 [19.57 18.6 ]
 [25.58 23.75]
 [23.79 23.75]
 [15.15 14.9 ]
 [23.75 23.75]
 [47.91 50.  ]
 [34.27 29.  ]
 [21.27 23.  ]
 [35.6  33.3 ]
 [26.4  29.4 ]
 [20.98 21.  ]
 [23.75 23.8 ]
 [21.58 19.1 ]
 [19.75 20.4 ]
 [24.65 29.1 ]
 [20.32 19.3 ]
 [23.8  23.75]
 [18.27 19.6 ]
 [15.67 19.4 ]
 [42.48 38.7 ]
 [18.86 18.7 ]
 [23.75 23.75]
 [18.28 20.  ]
 [20.71 20.5 ]
 [21.54 20.1 ]
 [23.14 23.6 ]
 [18.81 16.8 ]
 [23.72 23.75]
 [23.46 50.  ]
 [13.85 14.5 ]
 [14.56 13.3 ]
 [23.   23.9 ]
 [20.81 20.  ]
 [22.52 19.8 ]
 [14.36 13.8 ]
 [24.4  16.5 ]
 [21.97 21.6 ]
 [21.3  20.3 ]
 [16.25 17.  ]
 [14.18 11.8 ]
 [25.25 27.5 ]
 [16.83 15.6 ]
 [19.96 23.1 ]
 [21.95 24.3 ]
 [39.61 42.8 ]
 [15.1  15.6 ]
 [21.42 21.7 ]
 [19.3  17.1 ]
 [19.25 17.2 ]
 [24.96 23.75]
 [20.14 21.7 ]
 [21.56 18.6 ]
 [21.46 21.  ]
 [32.65 33.1 ]
 [31.91 31.5 ]
 [23.8  23.75]
 [27.69 29.8 ]
 [16.26 15.2 ]
 [20.43 15.  ]
 [23.79 23.75]
 [22.2  22.6 ]
 [20.13 20.  ]
 [22.5  21.4 ]
 [25.21 23.5 ]
 [31.2  31.2 ]
 [26.08 23.7 ]
 [23.75 23.75]
 [42.21 48.3 ]
 [22.82 24.4 ]
 [23.14 22.6 ]
 [20.15 18.3 ]
 [25.96 23.3 ]
 [18.87 17.1 ]
 [23.79 23.75]
 [42.85 44.8 ]
 [41.43 50.  ]
 [24.33 23.  ]
 [23.06 21.4 ]
 [23.75 23.75]
 [26.58 23.3 ]
 [16.43 23.2 ]
 [19.83 18.9 ]
 [23.75 23.75]
 [22.64 21.9 ]
 [30.01 24.8 ]
 [21.13 11.9 ]
 [22.12 24.3 ]
 [23.75 23.75]
 [23.27 24.7 ]
 [15.28 14.1 ]
 [18.94 18.7 ]
 [23.59 28.1 ]
 [20.26 19.8 ]]

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.6892745855391385